[Unit]
Description=Trilosaurus Service Support
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
ExecStart=/usr/bin/env bash /home/ubuntu/work/trilosaurus/trilosaurus_noros/scripts/robot.sh

[Install]
WantedBy=multi-user.target
